body {
  overflow-x: hidden;
}

.nav_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav_menu {
  list-style: none;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 45px;
}

.menu_icon {
  display: none;
  font-size: 40px;
}

@media (max-width: 1000px) {
  .menu_icon {
    display: flex;
  }

  .nav_menu {
    grid-template-columns: 1fr;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    transform: translateX(100%);
  }

  .nav_menu.active {
    transform: translateX(0);
  }

  .nav_block {
    padding: 0 90px;
    position: relative;
  }
}
