.nav_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav_menu {
  list-style: none;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 68px;
}

.menu_icon {
  display: none;
  font-size: 40px;
}

@media (max-width: 1000px) {
  .menu_icon {
    display: flex;
  }

  .nav_menu {
    display: none;
  }

  .nav_block {
    padding: 0 90px;
  }
}
