* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Меню */
a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #FFE44D;
  padding: 10px 40px;
  font-size: 18px;
}

nav ul {
  display: flex;
  list-style: none;
}

.nav_menu_button {
  width: 25px;
  height: 25px;
  font-size: 25px;

  align-items: center;
  justify-content: center;

  border: 2px solid black;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.nav_menu.active {
  transform: translateX(0);
}

@media (max-width: 768px){
  nav {
    position: relative;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #FFE44D;
    width: 100px;

    transform: translateX(100%);
    transition: transform 0.5s;
  }

  nav ul a {
    border-bottom: 2px solid black;
    padding: 20px 10px;
  }

  .nav_menu_button {
    display: flex;
  }
}


/* Модальное окно */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;

  visibility: hidden;
}

.popup.visible {
  visibility: visible;
}

.popup_body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_content {
  background-color: white;
  position: relative;
  border-radius: 20px;
}


/* Форма */

.login_form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 15px;
  margin: 20px;
}

.form_cross {
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 40px;
  cursor: pointer;
}

.form_input {
  padding: 15px;
  margin: 2px;
  border: 1px solid #CFD8DC;
  border-radius: 12px;
}

.form_reset_btn {
  font-size: 13px;
  color: gray;
  text-align: end;
  padding: 20px 0;
}

.form_btn {
  padding: 14px 25px;
  border-radius: 55px;
  font-weight: bold;
  font-size: 14px;
  margin: 2px 0;
}

.submit_btn {
  background-color: #FFE44D;
  border: 1px solid transparent;
}

.redirect_btn {
  background-color: transparent;
  border: 1px solid #CFD8DC;
}

.form_title {
  margin-bottom: 20px;
}
