* {
  padding: 0;
  margin: 0;
}

.card {
  width: 200px;
  background-color: bisque;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.progress-container {
  position: relative;
  border: 1px solid black;
  height: 20px;
}

.progress-line {
  position: absolute;
  background-color: lightseagreen;
  height: 20px;
}

.progress-value {
  position: absolute;
  text-align: center;
  width: 100%;
}
