* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: azure;
}

.nav_menu a {
  text-decoration: none;
  color: black;
  margin: 0 40px;
  font-size: 25px;
}
