* {
  padding: 0;
  margin: 0;
}

.card {
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#root {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100px;
  gap: 20px;
}
