.cart_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 105px 0;
}

.empty {
  margin: 105px 0;
}

.button_block {
  display: flex;
  justify-content: space-between;
}

.button_block button {
  border: 2px solid #34495E;
  color: #34495E;
  padding: 4px;
  width: 161px;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}

.button_block button:hover {
  background-color: #34495E;
  color: white;
}

.button_block p {
  font-size: 25px;
}

.button_block span {
  font-weight: 700;
  margin-right: 15px;
}
